@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.main_top {
  height: 100dvh;
}

.animate-bounce {
  animation: bounce 8s infinite;
}

@layer components {
  /* BUTTON */
  .btn_primary {
    @apply inline-block px-4 py-2 rounded-lg shadow-lg bg-blue-600;
  }

  .btn_primary:hover {
    @apply bg-blue-700 cursor-pointer;
  }

  /*CONTAINER HEADER IMAGE */
  .container_image {
    @apply flex flex-col items-center justify-center w-96 h-96;
  }
  /* HEADER TITLE*/
  .header_title {
    @apply text-3xl font-bold;
  }

  /* HEADER SUBTITLE*/
  .header_subtitle {
    @apply text-lg text-right my-5;
  }
}
